html {
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom right, #cc0099 1%, #9999ff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'JetBrains Mono', monospace;
    overflow: auto;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#nav {
    background-color: #303030;
    width: 95%;
    height: 20vmin;
    display: flex;
    padding: 1%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1vh;
}

#nav a img {
    image-rendering: crisp-edges;
	width: 15vmin;
	aspect-ratio: 1;
}

#nav #logo {
	margin: 2%;
	margin-right: auto;
}

.nav-link {
    font-size: 5vmin;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    margin-right: 2%;
    transition: transform .2s;
}

.nav-link:hover {
    transform: scale(1.1);
    color: rgba(255, 255, 255, 1);
}

#blob {
    background: linear-gradient(to bottom right, #a300a3 0%, #56dee7 100%);
    height: 12rem;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotate 20s infinite;
    z-index: -2;
}

#blur {
    height: 100vh;
    width: 100vw;
    position: absolute;
    backdrop-filter: blur(16rem);
    z-index: -1;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
}

.footer {
    color: rgba(255, 255, 255, 0.8);
    background-color: #303030;
    text-align: center;
    padding: 10px 0;
}