<div id="nav">
	<a href="https://j1233.minetest.land/" style="margin: 2%; margin-right: auto;">
		<img src="https://j1233.minetest.land/images/j45withname.png" style="width: 10vw; aspect-ratio: 1;">
	</a>

	<input type="checkbox" id="checkbox_toggle">
	<label for="checkbox_toggle" class="burger">&#9776;</label>
	<a href="https://j1233.minetest.land/" class="nav-link">Home</a>
	<a href="https://j1233.minetest.land/portfolio/" class="nav-link">Portfolio</a>
	<a href="https://j1233.minetest.land/contact/" class="nav-link">Contact</a>
</div>
<br>