<div id="nav">
	<a id="logo" href="https://j45.dev/" alt="home">
		<img src="https://j45.dev/images/j45withname.png" alt="logo with name">
	</a>

	<input type="checkbox" id="checkbox_toggle">
	<label for="checkbox_toggle" class="burger">&#9776;</label>
	<a href="https://j45.dev/" class="nav-link">Home</a>
	<a href="https://j45.dev/blog/" class="nav-link">Blog</a>
	<a href="https://j45.dev/portfolio/" class="nav-link">Portfolio</a>
	<a href="https://j45.dev/contact/" class="nav-link">Contact</a>
</div>
<br>
